@model ListToDo.Web.Models.ListToDo
@{
    ViewBag.Title = "FindOne";
}

<section>
    <div class="col-lg-12">
        <div class="col-md-12">
            <label class="col-md-4 control-label">Nome:</label>
            <label class="col-md-4 control-label">@Html.Raw(Model.NomeItem)</label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4 control-label">Descrição:</label>
            <label class="col-md-4 control-label">@Html.Raw(Model.DescricaoItem)</label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4 control-label">Status:</label>
            <label class="col-md-4 control-label">@Html.Raw(Model.Status)</label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4 control-label">Data Criação:</label>
            <label class="col-md-4 control-label">@Html.Raw(Model.DataDeCriacao)</label>
        </div>
        @if (Model.Status == "Pendente")
        {
            <div class="col-md-12">
                <div class="col-md-4">
                    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Deletar", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                </div>
            </div>
        }


    </div>
</section>

